doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    script(src='/lodash/lodash.min.js')
    script(src='/babel-polyfill/dist/polyfill.min.js')
    script(src='/d3/build/d3.min.js')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/moment/min/moment.min.js')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    script(src='/util.js')
  body
    block content
