extends layout
block content

    link(href='/stylesheets/main.css' , rel='stylesheet')

    .info-wrapper
        i.material-icons info
        .info
            .title Color Image Scale
            img(src="/images/map.png").image
    .nav
    .main-page
        .mds.cell
            svg.zone#mds
        .subview
            .webtoon-infos.cell
                .webtoon-list.zone

    .webtoonitem

    script(src='/util.js')
    script(src='/test.js')
